extends layout

block content
  h1= title
  .form-container
    form(action='/search', method='POST')
      .form-elements
        .search-field
            input.search-input(type='text', name='city', placeholder='Enter city name', required)
        .button
            button(type='submit') Search
